.footer {
  background-color: #233000;
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
}
.footer h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}
.footer h3 {
  font-size: 20px;
  font-weight: 700;
}
.footer .credit {
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.footer form input {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--FFFFFF, #fff);
  border-radius: 1px;
  height: 35px;
  width: 200px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.footer .btn-subs {
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 3px;
  background: var(--5E6600, #5e6600);
  color: white;
}
.footer .btn-subs:hover {
  background-color: #d0c8bd;
}
.footer hr {
  margin-top: 50px;
  border-bottom: 2px dotted white;
}
.footer .subs p {
  justify-content: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
